

.page-wrapper-anmelden {
    background-color: #f6f5f1;  
    height: 97vh;
    width: 100%;
    color: black; 
    margin: 0; 
    padding: 10px; 
    position: relative;
}

.header-anmelden {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    z-index: 10; 
    padding: 0px; 
    width: 100%; 
}

.container-anmelden {
    display: flex;
    align-items: center; 
}

.text-anmelden {
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 18px; 
    margin-top: 20px;
    margin-right: 10px; 
}

.button-anmelden {
    background: none; 
    border: none; 
    padding: 0; 
    width: 150px; 
    height: auto; 
    margin-top: 10px;
    margin-right: 20px; 
}

.button-anmelden img {
    width: 110px; 
    height: auto; 
}

/* Obere Wolke links */
.left-cloud-top-anmelden {
    width: 320px;
    height: auto;
    position: absolute;
    transform: translate(-2vw, -12vh);
    z-index: 0;
}

/* Untere Wolke links */
.left-cloud-bottom-anmelden {
    width: 320px;
    height: auto;
    position: absolute;
    transform: translate(-6vw, 7vh);
    z-index: 2;  
}

/* sonne */
 .sun-image-anmelden {
    width: 150px;
    height: auto;
    position: absolute;
    transform: translate(7vw, -3vh);
    z-index: 1; 
  }

/* Rechte Wolke */
.right-cloud-middle-anmelden {
    width: 320px;
    height: auto;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 0;
}

/* Anmelde Text */
.ueberschrift-anmelden {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f6f5f1;
}

/* Anmelde Text */
.ueberschrift-anmelden h1 {
    font-family: 'Pixelsplitter', Arial, sans-serif;
    font-size: 60px;
    color: black;
    margin-top: 30px; /*Abstand 'Anmenden' und top*/
    margin-bottom: 40px;
    text-align: center;
}

.anmelden-page p {
    color: black;
    font-family: 'VCR OSD Mono', monospace; 
}

/* Content Box Styles */
.content-box-anmelden {
    width: 30%;
    margin-top: 0px; 
    padding: 0 20px;
    box-shadow: none; 
    text-align: center; 
    position: relative;
    z-index: 2;
    background-color: transparent; 
    margin-left: 33%; /*damit es mittig ist*/
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: #f6f5f1;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    background-color: white; 
    border: 2px solid #9cb405; 
    color: black; 
    font-family: 'VCR OSD Mono', monospace; 
    box-sizing: border-box; 
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

.input-group-anmelden {
    text-align: left; 
    margin-bottom: 5px; 
}

.input-group-anmelden label {
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 16px; 
    display: block; 
}

.submit-button-anmelden {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    margin-top: 30px; 
    margin-bottom: 15px; 
}

.submit-button-anmelden img {
    width: 150px; 
    height: auto;
}

.forgot-password-anmelden {
    margin-top: 10px; 
    font-family: 'VCR OSD Mono', monospace; 
}

.button-container-anmelden {
    position: absolute;
    bottom: 20px; 
    right: 20px;  
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.back-button-anmelden {
    background: none; 
    border: none; 
    padding: 0; 
}

.back-button-anmelden img {
    width: 170px; 
    height: auto; 
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Fehlermeldung*/
.error-message-anmelden {
    color: red;
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 16px;
    margin-top: 5px;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('@/assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}