/* Reset any browser default spacing */
html, body {
  margin: 0;
  padding: 0;
  background-color: #f6f5f1; 
  color: black;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
}

/* Page Wrapper */
.page-wrapper {
  background-color: #f6f5f1;
  min-height: 100vh;
  color: black;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar */
.navbar-datenschutz {
  display: flex;
  align-items: center;
  background-color: #99b305;
  padding: 10px 0; 
  width: 100%; 
  position: relative;
  top: -70px;
  left: 0;
  right: 0;
  z-index: auto;
  margin: 0;
}

/* Content Section */
.content-datenschutz {
  padding: 50px 30% 100px; /*abstand text zu Überschrift oben, Abstand Rand, abstand unten*/
  text-align: left;
  flex: 1;
  /*min-height: 200vh;*/
}

/* Logo LinguExplorer */
.logo {
  height: 35px; 
  margin-left: 20px;
  margin-right: auto;
}

/*Abstand button und menue*/
.nav-button-datenschutz {
  background: none; 
  border: none; 
  margin-right: 15px;
}

/*jetzt Spielen Button*/
.nav-button-datenschutz img {
  height: 40px; /*groesse*/
}

.menu-icon {
  height: 25px; 
  margin-right: 20px; 
}

h1 {
  font-family: 'Pixelsplitter', Arial, sans-serif; 
  margin-bottom: 5px;
  font-size: 45px;
  text-align: center;
  color: black;
}

h2 {
  margin-top: 20px; 
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif; 
  line-height: 1;
}

p {
  margin: 0 0 10px; /* Abstand oben | links | unten */ 
  font-family: 'Inter', sans-serif; 
  line-height: 1;
}

ul {
  padding: 0; 
  margin: 0; 
}

.no-bullets {
  list-style-type: none; /* Removes bullet points from list */
}

.indented-list {
  padding-left: 20px; 
  list-style-type:disc;
  line-height: 1;
}

.underline {
  text-decoration: underline; 
  margin-top: 10px;
}

/* Button Container */
.button-container {
  position: relative; 
  margin-top: auto;
  padding: 20px;
  text-align: right;
  width: 100%;
}

.custom-button {
  background: none; 
  border: none; 
  padding: 0;
}

/*zurück zu home*/
.button-container .custom-button img {
  width: 200px; 
  height: auto;
  display: inline-block;
  vertical-align: middle; 
}


@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}