
.page-wrapper-forgotPassword {
    background-color: #f6f5f1;
    width: 100vw;
    color: black;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.content-box-forgotPassword {
    width: 30%;
    margin-top: 0px; 
    padding: 0 20px;
    box-shadow: none; 
    text-align: center; 
    position: relative;
    z-index: 2;
    background-color: transparent; 
    margin-left: 33%; /*damit es mittig ist*/
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: #f6f5f1;
}

.forgot-password {
    text-align: center;       
    font-family: 'Pixelsplitter', Arial, sans-serif;
}

/*Überschrift*/
.forgotPassword h1 {
    font-size: 33px; /*groesse*/
    color: rgb(0, 0, 0);
    margin-top: 100px; /*Abstand zu oben Rand*/
    margin-bottom: 50px; /*Abstadn zu Eingaben*/
    /*margin-left: -17%; damit es mittig ist*/
    white-space: nowrap;
    text-align: center ;
}

.subtext {
    font-family: 'VCR OSD Mono', monospace;
    font-size: 16px;
    color: black;
    margin-bottom: 40px;
    text-align: center;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-family: 'VCR OSD Mono', monospace;
    font-size: 16px;
    display: block;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    background-color: white;
    border: 2px solid #9cb405;
    color: black;
    font-family: 'VCR OSD Mono', monospace;
    box-sizing: border-box;
}

.submit-button-forgotPassword {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 25px;
}

.submit-button-forgotPassword img {
    width: 200px;
    height: auto;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('@/assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}