
.page-wrapper-registrieren {
    background-color: #f6f5f1;  
    height: 100vh;
    width: 100%;
    color: black; 
    margin: 0; 
    padding: 0; 
    position: relative;
}

.header-registrieren {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    z-index: 10; 
    padding: 0px; 
    width: 100%;  
}

.register-container-registrieren {
    display: flex;
    align-items: center; 
}

.register-text-registrieren {
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 18px; 
    margin-top: 20px;
    margin-right: 10px; 
}

.register-button-registrieren {
    background: none; 
    border: none; 
    padding: 0; 
    width: 150px; 
    height: auto; 
    margin-top: 10px;
    margin-right: 20px; 
}

.register-button-registrieren img {
    width: 110px; 
    height: auto; 
}


/* Obere Wolke links */
.left-cloud-top-registrieren {
    width: 320px;
    height: auto;
    position: absolute;
    left: -4%;
    top: -5%;
    z-index: 0;
}

/* Untere Wolke links */
.left-cloud-bottom-registrieren {
    width: 320px;
    height: auto;
    position: absolute;
    left: -6%;
    top: 15%;
    z-index: 2;  
}

/* sonne */
 .sun-image-registrieren {
    width: 150px;
    height: auto;
    position: absolute;
    left: 5%; 
    top: 5%;
    z-index: 1; 
  }

/* Rechte Wolke */
.right-cloud-middle-registrieren {
    width: 320px;
    height: auto;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 0;
}


/* Welcome Text */
.text-registrieren {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: #f6f5f1;
}

/* Registrieren */
 .text-registrieren h1 {
    font-family: 'Pixelsplitter', Arial, sans-serif;
    font-size: 60px;
    color: black;
    margin-top: 30px; /*Abstand 'Anmenden' und top*/
    margin-bottom: 40px;
    text-align: center;
}

.registrieren-page p {
    color: black;
    font-family: 'VCR OSD Mono', monospace; 
}

/* Content Box Styles */
.content-box-registrieren {
    width: 30%;
    margin-top: 0px; 
    padding: 0 20px;
    box-shadow: none; 
    text-align: center; 
    position: relative;
    z-index: 2;
    background-color: transparent; 
    margin-left: 33%; /*damit es mittig ist*/
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background-color: #f6f5f1;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    background-color: white; 
    border: 2px solid #9cb405; 
    color: black; 
    font-family: 'VCR OSD Mono', monospace; 
    box-sizing: border-box; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}

.input-group-registrieren {
    text-align: left; 
    margin-bottom: 15px; 
}

.input-group-registrieren label {
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 16px; 
    display: block; 
}

.submit-button-registrieren {
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    margin-top: 30px; 
    margin-bottom: 15px; 
}

.submit-button-registrieren img {
    width: 150px; 
    height: auto; 
}

.button-container-registrieren {
    position: absolute;
    bottom: 20px; 
    right: 20px;  
    padding: 20px; 
}

.custom-button-registrieren {
    background: none; 
    border: none; 
    padding: 0; 
}

.custom-button-registrieren img {
    width: 170px; 
    height: auto; 
}

label {
    display: block;
    margin-bottom: 5px;
}

/* Fehlermeldung */
.error-message {
    color: red;
    font-family: 'VCR OSD Mono', monospace; 
    font-size: 16px;
    margin-top: 5px;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('@/assets/fonts/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}